.schedule__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 27px;
}

.schedule-card {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex: 1 1 calc(50% - 20px);
  max-width: 608px;
  padding: 0 10px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
}

.schedule-card_disabled {
  opacity: 0.5;
}

.schedule-card__right-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
  padding-top: 17px;
  flex-direction: column;
  height: 7vh;
}

.schedule-card__date,
.schedule-card__price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--dark-blue);
}

.schedule-card__price {
  text-align: right;
  white-space: nowrap;
}

.schedule-card__time,
.schedule-card__seats {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin: 0;
}

.schedule-card__left-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  padding-top: 3%;
  gap: 14px;
  width: 60%;
  padding-bottom: 2%;
  flex-direction: column;
}

@media (max-width: 1320px) {
  .schedule__cards {
    justify-content: space-between;
    width: 90%;
  }

  .schedule-card {
    max-width: 500px;
  }
}

@media (max-width: 1220px) {
  .schedule-card {
    max-width: 400px;
  }
}

@media (max-width: 1024px) {
  .schedule-card {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .schedule-card {
    flex: 1 1 100%;
  }

  .schedule-card__left-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }
}

@media (max-width: 550px) {
  .schedule__cards {
    width: 100%;
  }

  .schedule-card__price {
    white-space: normal;
  }

  .schedule-card__left-wrapper {
    align-items: flex-start;
    padding-top: 4%;
    gap: 15px;
    width: 60%;
    margin-bottom: 0.2%;
  }

  .schedule__cards {
    gap: 22px;
  }

  .schedule-card__right-wrapper {
    padding-top: 16px;
    height: 6.8vh;
  }
}
