.button_outline {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  width: auto;
  height: 25px;
  border: 2px solid var(--orange);
  border-radius: 3px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.button_outline:hover {
  background-color: var(--orange);
}

.button_orange {
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--orange);
  cursor: pointer;
}

.button_orange--large {
  width: auto;
  height: 43px;
  font-size: 18px;
  padding: 8px 35px;
}

.button_orange--small {
  height: 29px;
  font-size: 14px;
  text-transform: none;
  padding: 0 10px;
  font-weight: 400;
}

.button_orange:hover {
  color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 3px;
  background-color: transparent;
}

.button_blue {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  max-width: 200px;
  height: 35px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--light-blue);
  cursor: pointer;
}

.button_blue:hover {
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
  border-radius: 3px;
  background-color: transparent;
}

.button_pagination {
  border-radius: 3px;
  background-color: var(--orange);
  fill: var(--white);
}

.button_pagination:hover {
  fill: var(--orange);
  background-color: var(--white);
  fill: var(--orange);
}

.button__container {
  width: auto;
  display: flex;
  gap: 6px;
  cursor: pointer;
  padding: 24px 0;
}

.button_list-orange {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--orange);
  text-transform: uppercase;
  position: relative;
}

.button_list-orange svg {
  stroke: var(--orange);
}

.button_list-white {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  position: relative;
}

.button__wrapper {
  position: relative;
}
