@import url(./shared/buttons/buttons.css);
@import url(./shared/lists/currency/currencyList.css);
@import url(./shared/lists/contacts/contactsList.css);

@import url(./components/Header/Header.css);
@import url(./components//Hero/Hero.css);

:root {
  --dark-blue: #233849;
  --light-blue: #4d799d;
  --dark-grey: #727272;
  --grey: #b9b9b9;
  --light-grey: #d9d9d9;
  --orange: #f2b124;
  --white: #fff;

  --font-family: "Poppins", sans-serif;
}

* {
  transition: all 0.3s ease-in-out;
}

@keyframes listAppearing {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes listDisappearing {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  height: auto;
  margin: auto;
}
