:root {
  --dark-blue: #233849;
  --light-blue: #4d799d;
  --dark-grey: #727272;
  --grey: #b9b9b9;
  --light-grey: #d9d9d9;
  --orange: #f2b124;
  --white: #fff;

  --font-family: "Poppins", sans-serif;
}
