.reviews {
  background: var(--white);
  padding-bottom: 76px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.reviews__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #233849;
  margin: 0;
  line-height: 53px;
  letter-spacing: 1px;
}

.reviews__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.reviews__pagination {
  display: flex;
  gap: 8px;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .reviews {
    padding: 40px 0 50px;
  }

  .reviews__pagination {
    align-self: center;
  }
}
